* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
body {
  background-color: rgb(40, 39, 39);
}
#container {
  position: relative;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
#clock-con {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid cyan;
  box-shadow: 0px 0px 20px cyan;
}
span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 4%;
  text-align: center;
}
span b {
  width: 40px;
  height: 40px;
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid cyan;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px cyan;

}
#clock-con::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: cyan;
  box-shadow: 0px 0px 15px cyan;

  border-radius: 50%;
  z-index: 1;
}
.hand {
  position: absolute;
  background: #333;
  transform-origin: 50% 100%;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}


.hour-hand {
  top: 36%; 
  left: 48.8%; 
  width: 6px;
  height: 40px;
  background: rgb(255, 103, 103);
}

.minute-hand {
  position: absolute;
  top: 29%; 
  left: 49%;
  width: 4px;
  height: 60px;
  background: rgb(148, 245, 148);
}

.second-hand {
  position: absolute;
  transform-origin: 50% 100%;
  top: 26%; 
  left: 49.5%;
  width: 3px;
  height: 70px;
  background: rgb(133, 133, 239);

}

