* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  color: white;
}
body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-color: rgb(40, 39, 39);
  width: 100%;
  /* transform: translate(-45%); */
}
#container {
  position: relative;
  
}
#clock {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: rgb(30, 30, 30);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid cyan;
  box-shadow: 0px 0px 20px cyan;
}
span {
  position: absolute;
  transform: rotate(calc(30deg * var(--i)));
  inset: 4%;
  text-align: center;
}
span b {
  width: 40px;
  height: 40px;
  transform: rotate(calc(-30deg * var(--i)));
  display: inline-block;
  font-size: 25px;
  font-weight: 700;
  border: 2px solid cyan;
  border-radius: 50%;
  box-shadow: inset 0px 0px 10px cyan;

}
#clock::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background-color: white;
  border-radius: 50%;
  z-index: 1;
}
.hand {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.hand i {
  position: absolute;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  width: 3px;
  background-color: var(--clr);
  height: var(--h);
}
