* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    color: white;
}

.boxcontainer {
    position: absolute;
    width: 300px;
    border: 2px solid cyan;
    box-shadow: 0px 0px 20px cyan;
    display: flex;
    justify-content: center;
    align-self: center;
    justify-content: space-evenly;
    padding: 4px;
    border-radius: 20px;
    transform: translate(0%, 1000%);

    div {
        border-radius: 20px;

        border: 2px solid cyan;
        width: 30%;
        display: flex;
        justify-content: center;
        align-items: center;

    }
}