* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  // color: white;
}

#main {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-2 {
  width: 350px;
  // height: 100vh;
  display: flex;
  background-color: rgb(30, 30, 30);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 2px solid cyan;
  padding: 2%;
  border-radius: 20px;
  box-shadow: 0px 0px 10px cyan;
}
hr{
    width: 100%;
}
.day{
    padding: 6px;
}
.time{
    padding: 6px;
}
